# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# temp files
check_mardhavan.js
tmp_check_columns.js
tmp_check_data.js
tmp_check_data.ts
tmp_check_emails.js
tmp_check_leads_columns.js
tmp_check_names.js
tmp_check_profiles_columns.js
tmp_check_profiles.js
tmp_check_stages.js
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

certificates